[Unit]
Description=Weather App FastAPI Backend
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/Weather-App/backend
Environment="PATH=/home/ubuntu/Weather-App/venv/bin"
ExecStart=/home/ubuntu/Weather-App/venv/bin/uvicorn app:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
